{% extends 'livestock/layout.html' %}

/*
This page will have:
- a header from layout
- A welcome for the user
- a list of links to other farms 

*/

{% block content %}
    <h2 class="text-5xl ml-12 m-4">Hi, {{ user.username }}</h2>
    <main>
        <ul class="list rounded-2xl">
            {% for farm in farms %}
                <li class="list-row border-2 rounded-none border-red-500">
                    <a class="btn" href="/livestock/farm/{{ farm.public_id }}/">{{ farm.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock content %}