# Debug is a loaded json value: set to "true" or "false" only
DEBUG="false"
# Django secret key
SECRET_KEY=<secret_key>
# Sentry reporting key; only used in prod
SENTRY_DSN=<sentry_url>
# Environment type: "Production", "Staging", or none/any to default to local
ENV_NAME="Local"