{% extends 'portal/layout.html' %}

{% block content %}
<div>
    <div>
        <form action="{% url 'portal:search' %}" method="get" x-target="search_results">
            <div class="flex flex-row">
                <input name="search" placeholder="Search for a farm, herd, animal, or record..."
                    @input.debounce="$el.form.requestSubmit()">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>
    </div>
    <div>
        <button class="btn" onclick="mobile_filters_dialog.showModal()">Filter</button>

        <dialog id="mobile_filters_dialog" class="modal">
            <div class="modal-box">
                <h3>Filters</h3>
                <div class="join join-vertical bg-base-100">
                    <div class="collapse collapse-arrow join-item border-base-300 border">
                        <input type="radio" name="filter-accordion-mobile" checked="checked" />
                        <div class="collapse-title font-semibold">Farms</div>
                        <div class="collapse-content text-sm"></div>
                    </div>
                    <div class="collapse collapse-arrow join-item border-base-300 border">
                        <input type="radio" name="filter-accordion-mobile" />
                        <div class="collapse-title font-semibold">Herds</div>
                        <div class="collapse-content text-sm"></div>
                    </div>
                    <div class="collapse collapse-arrow join-item border-base-300 border">
                        <input type="radio" name="filter-accordion-mobile" />
                        <div class="collapse-title font-semibold">Record Types</div>
                        <div class="collapse-content text-sm"></div>
                    </div>
                </div>
            </div>
            <form method="dialog" class="modal-backdrop">
                <button>close</button>
            </form>
        </dialog>
    </div>
    <div class="flex flex-col">
        {% partialdef search_results inline %}
        <h2>
            Results
        </h2>
        <ul id="search_results">
            {% for result in results %}
            <li class="flex flex-row grow justify-between">
                <a href="{% url 'portal' %}">{{ result.name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endpartialdef %}
    </div>
</div>
{% endblock content %}