{% extends 'livestock/layout.html' %}

{% block content %}
    <main class="mx-12">
        <h2 class="text-6xl text-accent font-mono">{{ animal_group.name }}</h2>
        <p class="mb-2 text-2xl text-secondary">{{ animal_group.farm.name }}</p>
        <a class="btn btn-primary my-4 rounded-2xl shadow-2xl" href="/livestock/animals/{{ animal_group.public_id }}">
            See the animals in this group
            <i class="fa-solid fa-angles-right m-auto"></i>
        </a>
    </main>
{% endblock content %}
