{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
    {% block title %}
        Django Tailwind
    {% endblock title %}
        </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>

<body class="bg-blue-50 text-black font-serif leading-normal tracking-normal">
<div class="container mx-auto">
{% block body %}
Go away, you should probably not be seeing this right now...
{% endblock body %}
</div>
</body>
</html>