{% load static tailwind_tags %}
<!doctype html>
<html lang="en">

<head>
    <title>
        {% block title %}Herd Wise - Project Poultry{% endblock title %}
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script defer src="https://cdn.jsdelivr.net/npm/@imacrayon/alpine-ajax@0.12.7/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
    <script src="https://kit.fontawesome.com/1534202f2f.js" crossorigin="anonymous"></script>
    {% tailwind_css %}
</head>

<body class="bg-base-100 text-base-content font-inter leading-normal tracking-normal">
    {% block body %}
    {% block messages %}
    {% include '_components/_message_banner.html' %}
    {% endblock messages %}
    {% block content %} Go away, you should probably not be seeing this
    right now... {% endblock content %}
    {% endblock body %}
</body>

</html>