{% extends 'portal/layout.html' %}

{% block title %}
HW - My Farms
{% endblock title %}

{% block content %}
<div>
    <h2 class="text-3xl text-primary">My Farms</h2>
    <ul class="list">
        {% for farm in farms %}
        <li class="list-row flex items-center justify-between">
            {{ farm.name }}
            <a href="{% url 'portal:herds_list_view' farm_pub_id=farm.public_id %}" class="btn btn-primary">
                View Herds
            </a>
            <a href="{% url 'portal:farms_detail_view' farm_pub_id=farm.public_id %}" class="btn btn-ghost">
                Edit
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}