{% extends 'base_layout.html' %}

{% block body %}
    <nav class="breadcrumbs text-sm">
        <ul>
            {% for breadcrumb in breadcrumbs %}
            <li>
                {% if forloop.last %}
                    <span class="breadcrumb-current">{{ breadcrumb.title }}</span>
                {% else %}
                    <a href="{{ breadcrumb.url|default:'#' }}">{{ breadcrumb.title }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </nav>

    {% block content %}
    You really should not be seeing this. If you are, someone goofed.
    {% endblock content %}
{% endblock body %}
